{{ define "main" }}
<div class="uk-section">
    <div class="uk-container uk-container-xlarge" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: .uk-card;">
        <div uk-filter="target: .js-filter;animation: uk-animation-fade">
                <div class="uk-container uk-container-medium uk-text-center" style="margin-top:-150px;background: white;position:relative;margin-bottom:20px;">
                    <form action="{{ "search" | absURL }}" style="background: white;padding:30px">
                        <div uk-form-custom>
                            <input class="uk-input uk-width-large" id="search-query" name="s" class="input" placeholder="Search by address, state, zip, city or MLS #" title="Search by address, state, zip, city or MLS #" style="border-bottom:1px solid rgb(207, 207, 207);"/>
                            <button class="uk-button uk-button-primary" type="submit" tabindex="-1">Search Listings</button>
                        </div>
                    </form>
                </div>
            <ul class="js-filter uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-margin-large-top" uk-grid>

                {{ $listCount := len (where .Site.RegularPages "Section" "==" "listings")  }}
                {{ if gt $listCount 0 }}
                        {{ range .Pages }}
                        <li class="listing-result"
                            data-city="{{ .Params.cities }}"
                            data-states="{{ .Params.states }}"
                            data-properties="{{ .Params.properties }}"
                            data-price="{{ .Params.price }}"
                            data-featured="{{ .Params.featured }}">
                            <a href="{{ .Permalink }}" class="uk-link-text uk-white">
                                    {{ partial "templates/property-card" . }}
                                </a>         
                            </li>
                        {{ end }}
                {{ else }}
                <div class="inner-container">
                    <h2>No listing has been added</h2>
                </div>
                {{ end }}
            </ul>
        
        </div>
    </div>
</div>
{{ end }}