{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns is-variable is-8">
            <div class="column is-8">
                <main>
                    <div class="inner-container">
                        <div class="column pl-0 pr-0">
                            <div class="content">
                                <h1 class="title is-3 mb-2">{{ .Title }}</h1>
                                {{ if .Params.details.title }}<span class="is-block">{{ .Params.details.title }}</span>{{ end }}
                                {{ if .Params.details.license_type }}<p>{{ .Params.details.license_type }} {{ .Params.details.license_number }}</p>{{ end }}
                            </div>
                        </div>
                        <div class="column is-full agent-container mb-4 pl-0 pr-0">
                            <div class="card">
                                <div class="columns is-vcentered is-variable is-3">
                                    <div class="column is-4 pb-0 pt-0">
                                        {{ if .Params.photos.photo }}
                                        <img src="{{ .Params.photos.photo }}" alt="{{ .Title }}" style="width:100%;height:300px;object-fit:cover">
                                        {{ else }}
                                        <img src="/assets/nohouse.jpg" alt="no house" style="object-fit: cover;">
                                        {{ end }}
                                    </div>
                                    <div class="column pl-0 pr-0">
                                        <div class="content pr-6 pl-6">
                                            {{ if .Params.contact.office_phone }}
                                            <div class="level mb-0 is-mobile">
                                                <div class="level-left">
                                                    <div class="level-item">
                                                        <div>
                                                            <strong>Cell:</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="level-right">
                                                    <div class="level-item">
                                                        <div>
                                                            <a href="tel:{{ .Params.contact.office_phone }}" class="has-text-black">{{ .Params.contact.office_phone }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}
                                            {{ if .Params.contact.fax_number }}
                                            <div class="level mb-0 is-mobile">
                                                <div class="level-left">
                                                    <div class="level-item">
                                                        <div>
                                                            <strong>Fax:</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="level-right">
                                                    <div class="level-item">
                                                        <div>
                                                            <a href="tel:{{ .Params.contact.fax_number }}" class="has-text-black">{{ .Params.contact.fax_number }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}
                                            {{ if .Params.contact.email }}
                                            <div class="level is-mobile">
                                                <div class="level-left">
                                                    <div class="level-item">
                                                        <div>
                                                            <strong>Email:</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="level-right">
                                                    <div class="level-item">
                                                        <div>
                                                            <a href="tel:{{ .Params.contact.cell }}" class="has-text-black">{{ .Params.contact.email }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}
                                            <ul class="social-block ml-0">
                                                {{ if .Params.social_media.facebook }}
                                                <li><a href="{{ .Params.social_media.facebook }}" target="_blank" title="Facebook">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="52" height="52" viewBox="0 0 24 24" stroke-width="1" stroke="#2196F3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                                                      </svg>
                                                </a></li>
                                                {{end}}
                      
                                                {{ if .Params.social_media.instagram }}
                                                <li><a href="{{ .Params.social_media.instagram }}" target="_blank" title="Instagram">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="52" height="52" viewBox="0 0 24 24" stroke-width="1" stroke="#E91E63" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <rect x="4" y="4" width="16" height="16" rx="4" />
                                                        <circle cx="12" cy="12" r="3" />
                                                        <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                                                      </svg>
                                                </a></li>
                                                {{end}}
                      
                                                {{ if .Params.social_media.linkedin }}
                                                <li><a href="{{ .Params.social_media.linkedin }}" target="_blank" title="Linkedin">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="52" height="52" viewBox="0 0 24 24" stroke-width="1" stroke="#03A9F4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <rect x="4" y="4" width="16" height="16" rx="2" />
                                                        <line x1="8" y1="11" x2="8" y2="16" />
                                                        <line x1="8" y1="8" x2="8" y2="8.01" />
                                                        <line x1="12" y1="16" x2="12" y2="11" />
                                                        <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                                                      </svg>
                                                </a></li>
                                                {{end}}
                      
                                                {{ if .Params.social_media.pinterest }}
                                                <li><a href="{{ .Params.social_media.pinterest }}" target="_blank" title="Pinterest">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-pinterest" width="52" height="52" viewBox="0 0 24 24" stroke-width="1" stroke="#C61D26" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <line x1="8" y1="20" x2="12" y2="11" />
                                                        <path d="M10.7 14c.437 1.263 1.43 2 2.55 2c2.071 0 3.75 -1.554 3.75 -4a5 5 0 1 0 -9.7 1.7" />
                                                        <circle cx="12" cy="12" r="9" />
                                                      </svg>
                                                </a></li>
                                                {{end}}
                      
                                                {{ if .Params.social_media.twitter }}
                                                <li><a href="{{ .Params.social_media.twitter }}" target="_blank" title="Twitter">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="52" height="52" viewBox="0 0 24 24" stroke-width="1" stroke="#2196F3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
                                                      </svg>
                                                </a></li>
                                                {{end}}
                      
                                                {{ if .Params.social_media.youtube }}
                                                <li><a href="{{ .Params.social_media.youtube }}" target="_blank" title="Youtube">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="52" height="52" viewBox="0 0 24 24" stroke-width="1" stroke="#C61D26" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <rect x="3" y="5" width="18" height="14" rx="4" />
                                                        <path d="M10 9l5 3l-5 3z" />
                                                      </svg>
                                                </a></li>
                                                {{end}}
                    
                                              </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column pl-0 pr-0">
                            <div class="card">
                                <header class="card-header">
                                    <h4 class="title is-6 card-header-title">About</h4>
                                </header>
                                <div class="card-content content">
                                    {{ .Content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
                {{ partial "templates/sidebar" . }}
        </div>
    </div>
</div>
{{ end }}