{{ define "main" }}
<div class="uk-section uk-section-large">
    <div class="uk-container uk-container-small">
        {{ range .Params.press }}
        <div class="uk-cover-container">
            <img src="{{ .image }}" alt="{{ .heading }}" uk-cover>
            <canvas height="400"></canvas>
            <div class="uk-overlay-primary uk-position-cover"></div>
            <div class="uk-overlay uk-position-center uk-light uk-text-center">
                <h2 class="uk-margin-remove">{{ .heading }}</h2>
                <p class="uk-text-bold uk-margin-small uk-h3">{{ .extra }}</p>
                <p class="uk-white uk-margin-small">{{ .body }}</p>
                <a href="{{ .link }}" class="uk-button uk-button-secondary">Watch</a>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}