/* TYPOGRAPHY */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .uk-h1,
body .uk-h2, 
body .uk-h3, 
body .uk-h4, 
body .uk-h5, 
body .uk-h6, 
body .uk-heading-2xlarge, 
body .uk-heading-large, 
body .uk-heading-medium, 
body .uk-heading-small, 
body .uk-heading-xlarge {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}

.md__content h1,
.md__content h2,
.md__content h3,
.md__content h4,
.md__content h5,
.md__content h6 {
    color: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    color: #000;
    line-height: 35px;
    font-weight: 300;
    background: #f9f7f7;
}

.title-font {
    font-family: 'Montserrat', sans-serif;
}

body em {
    color: inherit;
}

html body {
    font-size: 16px;
}

li div.uk-overlay-primary {
    background: rgb(17 17 17 / 25%);
}

@media (min-width: 1200px) {
    div.uk-grid-column-xlarge>*, div.uk-grid-xlarge>* {
        padding-left: 130px;
    }
}

div.uk-container {
    padding-left: 20px;
    padding-right: 20px;
}

.md__content a {
    color: inherit;
    text-decoration: underline;
}

.md__content a:hover {
    color: inherit;
}

ul.uk-breadcrumb>*>* {
    color: #fff;
}

ul.uk-breadcrumb li:last-child a {
    font-weight: 700;
    text-decoration: underline;
}

ul.uk-breadcrumb>*>:focus,
ul.uk-breadcrumb>*>:hover {
    color: #fff;
}

a.uk-accordion-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

form label {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

form .uk-input, form .uk-select, form .uk-textarea {
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #000;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 25px;
}

form .uk-input::placeholder, 
form .uk-select::placeholder, 
form .uk-textarea::placeholder {
    color: #000;
}

div.uk-overlay-primary {
    background: rgba(17,17,17,.4);
}

h1.h1-title {
    color:#fff;
}

a.uk-button-secondary {
    background: transparent;
    color: #272424;
    transition: .3s ease;
}

a.uk-button-secondary:hover {
    background: #fff;
    color: #000;
    transition: .3s ease;
}

.uk-text-medium {
    font-weight: 500;
}

.accent {
    color: #c59d5f!important;
    transition: .3s;
}

.accent:hover {
    color: inherit;
    text-decoration: none;
    transition: .3s;
}

.uk-white {
    color: #fff!important;
}

button.uk-button-primary,
a.uk-button-primary {
    background: #000;
    padding: 5px 40px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
    outline: none;
    border: none;
}

span.line {
    width: 20px;
    height: 2px;
    background: red;
}

body .uk-button-primary.uk-active, body .uk-button-primary:active,
body .uk-button-primary:focus, body .uk-button-primary:hover {
    background-color: #c59d5f;
    color: #fff;
}

@media screen and (max-width: 800px) {
    div.page__banner {
        background: #DBDBDB!important;
    }

    h1.h1-title,
    ul.uk-breadcrumb>*>* {
        color:#19202A;
    }
}

@media screen and (min-width:800px) {
    div.page__banner .page__slider {
        content: '';
        background: #c59d5f;
        position: absolute;
        width: 45%;
        height: 100%;
        top: 0;
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: skew(
    -45deg
    );
        -ms-transform: skew(-45deg);
        transform: skew(
    -45deg
    );
    }
}

div.page__banner__inner {
    position: relative;
    z-index: 1;
}

/* NAVBAR */


ul.uk-navbar-item, ul.uk-navbar-nav>li>a, ul.uk-navbar-toggle,
ul.uk-navbar-dropdown-nav>li.uk-active>a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    }

.uk-navbar-sticky ul.uk-navbar-nav>li>a:not(.top-navbar a) {
    color: #000;
}


div.top-navbar .uk-navbar-nav>li>a {
    min-height: 40px;
    text-transform: unset;
}

div .uk-navbar-container>.uk-container .uk-navbar-left {
    margin-left: 0;
}

div.uk-navbar-dropdown {
    padding: 0;
}

div.uk-navbar-dropdown ul li {
    padding: 5px 10px;
}

div.uk-navbar-dropdown ul li:hover {
    background: #000;
    transition: .3s;
    color: #fff;
}

div.uk-navbar-dropdown ul li:hover a {
    color: #fff;
    transition: .3s;
    padding-left: 5px;
}

div.uk-navbar-dropdown ul li {
    transition: .3s;
}

[class*=uk-navbar-dropdown-bottom]{
    margin-top: 0!important;
}

.uk-visible\@s.uk-sticky.undefined.uk-sticky-fixed {
    padding: 15px;
    transition: .3s ease-in;
}

.uk-visible\@s.uk-sticky.uk-sticky-fixed.undefined.uk-navbar-sticky.uk-dark.uk-sticky-below {
    padding: 0px;
    transition: .3s ease-in;
}



ul.uk-nav-parent-icon>.uk-parent>a::after {
    transform: rotate(
        -90deg
        );
    position: absolute;
}

.mobile__wrapper ul li a {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #000;
    transition: .3s;
}

.mobile__wrapper ul.uk-nav-default .uk-nav-sub a {
    color: #000;
}

div.uk-modal-dialog {
    background: rgb(254 254 254 / 95%);
    background-blend-mode: overlay;
    background-size:cover;
}

/* HERO */

div.uk-overlay-hero {
    background:rgb(9 10 21 / 20%);
}

div.hero-text p {
    font-size: 17.5px;
}

#body > main > div.uk-cover-container.uk-flex.uk-flex-middle.uk-flex-center > div.uk-width-2xlarge.uk-text-center.hero-container > div > h1 {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 800px) {
    div.hero-text {
        padding: 20px;
    }

    div.hero-text h1 {
        font-size: 1.5rem;
    }

    div.hero-text p.uk-text-normal {
        font-size: 15px;
    }

    #body > main > div.uk-cover-container.uk-flex.uk-flex-middle.uk-flex-center > div.uk-position-bottom > div > div > h2 {
        font-size: 19px;
    }
}

@media screen and (min-width:800px) {
    div.hero-text h1.uk-white {
        letter-spacing: 5px;
        font-size: 4rem;
    }
}

/* INTRO */


@media screen and (max-width: 768px) {
    img.image1,
    img.image2 {
        display: none;
    }
}


/* ABOUT PAGE */

.about__page p {
    font-size: 1.5rem;
    line-height: 1.8;
}

/* FOOTER */

footer.footer {
    background: #000;
    background-size: cover
}

footer.footer a {
    color: #fff;
}

footer.footer h3.uk-h5.uk-white.uk-text-uppercase {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

div.footer-credit p,
div.footer-credit ul li a {
    font-size: 12px;
}

.contact-detail svg {
    color: #fff;
}

.contact-detail a {
    color: #000;
}


.footer-credit ul li {
    list-style: none;
}


/* SEARCH */

@media screen and (max-width: 768px) {
    .max-button {
        width: 100%;
        margin-top: 10px;
    }
}


#top-search {
    padding: 20px;
}

@media screen and (max-width:768px) {
    div.desktop-view {
        display: none;
    }

    .reset-filter {
        margin-top: 5px;
    }
}

@media screen and (min-width:768px) {
    div.mobile-view {
        display: none;
    }

    #top-search .uk-active{
        color: #000;
    } 

}

div.uk-dropdown {
    padding: 10px;
}

div.uk-dropdown ul li {
    cursor: pointer;
    padding-left: 5px;
}



span.search-filter {
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff;
    margin: 2px;
    background: black;
}

span.search-filter:empty {
    visibility: hidden;
}

.featured-filter {
    background: #f0b327;
    color: white;
}

/* PROPERTY DETAIL PAGE */

div.line {
    background: rgb(0 0 0 / 41%);
    width: 1px;
    height: 70px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -159px;
}

.justify-content-between {
    justify-content: space-between !important;
    border-bottom: 1px solid rgb(194 194 194 / 48%);
    padding: 10px 0;
}

.row-flex {
    flex-wrap: wrap;
    display: flex;
}

.listing__detail__form form {
    padding: 20px;
}

@media screen and (min-width:768px) {
    .baseof__slider {
        margin: 20px;
    }
}

/* PROPERTY CARD */

span.featured.uk-badge {
    background: #f1b425;
}

span.status.uk-badge,
span.featured.uk-badge {
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff;
    margin: 2px;
}

.property-card-overlay {
    background: rgba(0 0 0 / 20%);
}

.property-card .property-card-details {
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

span.price-badge {
    background: 0 0;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
}

.property-card .property-card-address {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}