{{ $footerSocial := .Site.Data.profile.social_media }}
{{ $contact := .Site.Data.profile.contact_information }}
<footer class="footer">
    <div class="uk-section">
        <div class="uk-container uk-container-large">
            <div class="uk-margin">
            </div>
            <div class="uk-grid-match uk-grid-large uk-text-left" uk-grid>
                <div class="footer-text uk-width-1-4@s">
                    <div class="accent">
                        <h3 class="uk-h5 uk-white uk-text-uppercase">Follow me</h3>
                        {{ if $footerSocial.facebook }}<a href="{{ $footerSocial.facebook }}" class="uk-display-block">Facebook</a>{{ end }}
                        {{ if $footerSocial.instagram }}<a href="{{ $footerSocial.instagram }}" class="uk-display-block">Instagram</a>{{ end }}
                        {{ if $footerSocial.linkedin }}<a href="{{ $footerSocial.linkedin }}" class="uk-display-block">Linkedin</a>{{ end }}
                        {{ if $footerSocial.pinterest }}<a href="{{ $footerSocial.pinterest }}" class="uk-display-block">Pinterest</a>{{ end }}
                        {{ if $footerSocial.twitter }}<a href="{{ $footerSocial.twitter }}" class="uk-display-block">Twitter</a>{{ end }}
                        {{ if $footerSocial.youtube }}<a href="{{ $footerSocial.youtube }}" class="uk-display-block">Youtube</a>{{ end }}
                        {{ if $footerSocial.yelp }}<a href="{{ $footerSocial.yelp }}" class="uk-display-block">Yelp</a>{{ end }}
                    </div>
                </div>
                <div class="uk-width-1-4@s">
                    <div>
                        <h3 class="uk-h5 uk-white uk-text-uppercase">Contact Information</h3>
                        <ul class="uk-list">
                            <li><a href="mailto:{{ $contact.email }}">{{ $contact.email }}</a></li>
                            <li><a href="tel:{{ $contact.cell }}"><strong>Cell: </strong>{{ $contact.cell }}</a></li>
                        </ul>           
                    </div>
                </div>
                <div class="uk-width-1-4@s">
                    <div>
                        <h3 class="uk-h5 uk-white uk-text-uppercase">Quick Links</h3>
                        <ul class="uk-list uk-white">
                            <li><a href="/about">About Yoori Park</a></li>
                            <li><a href="/listings">View all Listings</a></li>
                            <li><a href="/press-and-media">Press and Media</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>           
                    </div>
                </div>
                <div class="uk-width-1-4@s">
                    <div>
                        <h3 class="uk-h5 uk-white uk-text-uppercase">Yoori Park</h3>
                        <p class="uk-white">The client is #1 in Yoori’s book. Her desire is to assist clients wanting to buy or sell their home</p>
                    </div>
                </div>
            </div>
            <div class="uk-margin-medium" style="border-top: 1px solid rgb(255 255 255 / 15%)"></div>
            <div class="disclaimer uk-text-center">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1608162411/yoori-park/yooripark/revelbg2_iom7bo.jpg" alt="Revel Real Estate logo" width="200">

                <p class="uk-white">{{ .Site.Data.appearance.footer.disclaimer }}</p>
            </div>
        </div>
    </div>
    <div style="border-top: 1px solid rgb(255 255 255 /15%)"></div>

    <div class="uk-container uk-padding-small footer-credit">
        <div class="uk-grid">
            <div class="uk-width-1-2@m">
                <ul class="uk-padding-remove">
                    <li><span class="uk-text-small" style="color:#fff;">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }} &middot;</span>   <a href="https://hungryram.com" target="_blank" rel="nofollow">Website Developed by Hungry Ram</a></li>
                </ul>
                
            </div>
            <div class="uk-width-1-2@s">
                <ul class="hr-legals">
                    {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                    <li class="uk-light uk-text-small uk-display-inline uk-margin-medium-left" onclick="navbaractive()"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>