{{ $navbar := .Site.Data.appearance.branding }}
{{ $navColor := .Site.Data.appearance.header }}
{{ $navContact := .Site.Data.profile.contact_information }}
{{ $headerSocial := .Site.Data.profile.social_media }}
{{ $social := .Site.Data.profile.social_media }}

    <div class="uk-visible@s{{ if $.IsHome }} uk-animation-slide-top-small{{ end }}" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: top: 100" style="background: white;">
        <nav class="main-nav">
            <div class="uk-container uk-container-large">
                <div uk-navbar>
                    <div class="uk-navbar-left">
                        <a href="{{ .Site.BaseURL }}">
                            <img src="{{ .Site.Data.appearance.branding.dark_logo }}" alt="{{ .Site.Data.profile.company_name }}" width="100" class="dark-logo">
                        </a>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav" style="padding-left: 20px;">
                            {{ $currentPage := . }}
                            {{ range .Site.Menus.main }}
                            {{ if .HasChildren }}
                            <li>
                                <a href="#">{{ .Name }}<span class="uk-margin-small-left" uk-icon="triangle-down"></span></a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        {{ range .Children }}
                                        <li class="uk-active"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </li>
                            {{ else }}
                            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                            {{ end }}
                            {{ end }}
                        </ul>
                    </div>
    
                </div>
            </div>
        </nav>
    </div>


<!-- mobile -->
<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: top: 100" style="background: white;">
    <nav class="uk-navbar uk-navbar-container uk-hidden@s uk-box-shadow-small" style="padding: 0 15px;">
        <div class="uk-navbar-left">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.Data.appearance.branding.dark_logo }}" alt="{{ .Site.Data.profile.company_name }}" width="100" class="dark-logo">
            </a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" href="#modal-full" uk-toggle>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="56px" height="26px" viewBox="0 0 56 26" enable-background="new 0 0 56 26" xml:space="preserve">
                    <rect x="3.319" y="6.552" fill="#000" width="30" height="1" shape-rendering="crispEdges"></rect>
                    <rect x="3.319" y="12.552" fill="#000" width="30" height="1" shape-rendering="crispEdges"></rect>
                    <rect x="3.319" y="18.552" fill="#000" width="30" height="1" shape-rendering="crispEdges"></rect>
                    </svg>
            </a>
        </div>
    </nav>
    </div>



    <div id="modal-full" class="uk-modal-full uk-modal mobile__wrapper" uk-modal>
        <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport style="background-image:url(https://res.cloudinary.com/hungryram19/image/upload/v1608173336/yoori-park/yooripark/26j6ar3w9xbq6absx-10350wyton310_ojybou.jpg)">
            <button class="uk-modal-close-full" type="button" uk-close></button>
    
            <ul class="uk-nav-default uk-nav-parent-icon uk-margin-auto-vertical uk-text-center" uk-nav uk-scrollspy="cls: uk-animation-fade; target: .animate; delay: 300; repeat: true">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="uk-parent animate">
                    <a href="#" class="uk-text-light">{{ .Name }}</a>
                    <ul class="uk-nav-sub">
                        {{ range .Children }}
                        <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </li>
                {{ else }}
                <li class="animate"><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>