{{ $navbar := .Site.Data.appearance.branding }}
{{ $navColor := .Site.Data.appearance.header }}
{{ $navContact := .Site.Data.profile.contact_information }}
<!-- Hero head: will stick at the top -->
<nav class="nav-wrap">
<div class="nav-topbar pt-1 pb-1" style="background:{{ if $navColor.top_header_color }}{{ $navColor.top_header_color }}{{ else }}transparent{{ end }}">
  <div class="section pt-0 pb-0">
    <div class="container">
      <div class="has-text-right">
        <p><a href="mailto:{{ $navContact.email }}" class="{{ if $navColor.enable_white_text_top }}has-text-white{{ else }}has-text-black{{ end }} is-size-6" style="display:flex;align-items:center">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 icon-tabler icon-tabler-mail" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="{{ if $navColor.enable_white_text_top }}#fff{{else}}#000{{ end }}" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <rect x="3" y="5" width="18" height="14" rx="2" />
            <polyline points="3 7 12 13 21 7" />
          </svg>{{ $navContact.email }}</a></p>
      </div>
    </div>
  </div>
</div>
 <div class="hero-head pt-2 pb-2" style="background:{{ if $navColor.header_background_color }}{{ $navColor.header_background_color }}{{ else }}transparent{{ end }}">
    <nav class="navbar is-transparent">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ .Site.BaseURL }}">
            {{ if .Site.Data.appearance.branding.logo }}
              <img src="{{ $navbar.logo }}" alt="{{ $navbar.site_title }}">
            {{ else }}
            <h1 class="title is-5{{ if $navColor.enable_white_text }} has-text-white{{ end }}">{{ $navbar.site_title }}</h1>
            {{ end }}
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="pr-0 navbar-link{{ if $navColor.enable_white_text }} has-text-white{{ end }}" href="javascript:;">
                    {{ .Name }}
                    <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 icon-tabler icon-tabler-chevron-down" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="{{ if $navColor.enable_white_text }}#FFFFFF{{else}}#000000{{ end }}" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <polyline points="6 9 12 15 18 9" />
                    </svg>
                </a>
                <!-- First Level Dropdown -->
                    <div class="navbar-dropdown">
                        {{ range .Children }}
                            
                            <a class="navbar-item {{ if .HasChildren }}navbar-link first-drop is-hoverable{{ end }}" href="{{ if .HasChildren }}javascript:;{{ else }}{{ .URL | absURL }}{{ end }}{{ if $navColor.enable_white_text }} has-text-white{{ end }}">
                            {{ .Name }}
                            </a>
                        
                        {{ end }}
                  </div>
                  <!-- End first level Dropdown -->
            </div>
            {{ else }} <!-- Else No Drop Down-->
            <a href="{{ .URL |absURL }}" class="navbar-item{{ if $navColor.enable_white_text }} has-text-white{{ end }}">{{ .Name }}</a>
        {{ end }}
        {{ end }} <!-- End range menu -->
      </div>
    </div>
      </div>
    </nav>
  </div>
  </nav>