{{ $profile := $.Site.Data.profile }}
{{ $social := $.Site.Data.profile.social_accounts }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "LocalBusiness",
    "name" : "{{ $profile.company_name }}",
    "description" : "{{ $profile.search_engine_optimization.meta_description }}",
    "logo" : "{{ .Site.Data.appearance.branding.logo }}",
    "image" : "{{ .Site.Data.home.hero.image | absURL }}",
    "telephone" : "{{ $profile.primary_contact.phone }}",
    "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "{{ $profile.contact_information.address }}",
    "addressLocality" : "{{ $profile.contact_information.city }}",
    "addressRegion" : "{{ $profile.contact_information.state }}",
    "postalCode" : "{{ $profile.contact_information.zip_code }}"
    },
    "url" : "{{ .Site.BaseURL }}"
}
</script>