<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-3">
                <div class="uk-card">
                    <h2>Wireless Vending Machine Technology</h2>
                </div>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-card uk-card-body uk-light" style="background:#222">
                    <h4>Healthy Vending</h4>
                    <p>In today's busy work atmosphere it has been hard to make healthy food choices while on the go until now! Start enjoying a healthy lifestyle with National Beverage's Healthy Vending Programs. Find out how you can make it easy for your employees to make healthy eating choices that translate into efficient performance, concentration and productivity. Best of all, these programs don't cost your company a single cent!</p>
                </div>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-card uk-card-body uk-light" style="background:#222">
                    <h4>Energy Efficient</h4>
                    <p>So you're ready to get your free vending machine service started but wonder how much energy it will take to run a vending machine system in your facility. Luckily our vending machines are Energy Star Certified!  This means that the machines we place at your location are energy efficient and will not have a great impact on the amount of energy it takes to power them. Being eco-friendly has never been easier!</p>
                </div>
            </div>
        </div>
    </div>
</div>