
<div class="uk-cover-container uk-flex uk-flex-middle uk-flex-center" uk-height-viewport>

    <video src="https://res.cloudinary.com/hungryram19/video/upload/v1634682386/erica-jackson/complexlivingrealestate/pexels-kindel-media-7578540.mp4" autoplay loop muted playsinline uk-cover></video>
        <div class="uk-position-center">
            <div class="uk-section-small">
                <div class="uk-container uk-container-small uk-text-center">
                    <h1 class="uk-white uk-h1 uk-text-uppercase" style="font-size:3rem;">Complex Living</h1>
                    <h2 class="uk-white uk-h3" style="margin-top:40px;">We're Using Transparency To Reinvent Real Estate</h2>
                    <a href="/listings" class="uk-button uk-button-primary">Search Homes</a>
                </div>
            </div>
        </div>
</div>