
<div class="uk-cover-container uk-flex uk-flex-middle uk-flex-center" uk-height-viewport>
    <div class="uk-position-top" style="z-index: 1;">
        {{ partial "global/navbar" . }}
    </div>
    <video src="https://hungryram.s3-us-west-1.amazonaws.com/yooriparkvideo.mp4" autoplay loop muted playsinline uk-cover></video>
    <div class="uk-overlay-primary uk-position-cover"></div>

        <!-- <div class="uk-width-2xlarge uk-text-center hero-container" style="z-index: 0" uk-parallax="y: -200; easing: 1">
            <div class="uk-section uk-section-large">
                <h1 class="uk-white uk-h2">Yoori Park</h1>
                <h2 class="uk-h1 uk-white">Integrity, Transparency, and Due Diligence Guaranteed</h2>
                <p>{{ .Site.Data.appearance.hero.body }}</p>
            </div>
        </div> -->
        <div class="uk-position-center">
            <div class="uk-section-small">
                <div class="uk-container uk-container-small uk-text-center">
                    <h1 class="uk-white uk-h1 uk-text-uppercase">Yoori Park</h1>
                    <h2 class="uk-white uk-h3" style="margin-top:10px;">Residential · Commercial · Development</h2>
                </div>
            </div>
        </div>
</div>