{{ $optBlock := dict "display" "block" }}
<style>
    .intro__first {
        background: #fafafa no-repeat;
        background-blend-mode: overlay;
        background-size: cover;
    }

    .intro__first img {
        border-image: url("https://res.cloudinary.com/hungryram19/image/upload/v1632428145/yoori-park/yooripark/pattern-lines.png");
    }
</style>
<div class="uk-section intro__first" style="background-image:url(/assets/blanket.jpg)">
    <div class="uk-section">
        <div class="uk-container uk-container-large">
            <div class="uk-flex uk-flex-middle uk-grid uk-grid-xlarge">
                <div class="uk-width-1-2@s">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1608162717/yoori-park/yooripark/yoori2_pazwvb.jpg" alt="" uk-parallax="y: -100; easing: 1">
                </div>
                <div class="uk-width-1-2@s">
                    <h2 class="uk-text-uppercase uk-h2">About Yoori Park</h2>
                    <div>
                        <p class="uk-h5 uk-text-uppercase uk-margin-large-bottom">Integrity, Transparency, and Due Diligence Guaranteed</p>
                        <p>Yoori firmly believes that if you focus on the client and the client’s aspirations, everything else will fall into place. The client is #1 in Yoori’s book. Her desire is to assist clients wanting to buy or sell their home from the very beginning of the process to the very end with essentially an “open-door” policy that values 100% transparency and open communication. Yoori deeply values building rapport with each and every one of her clients yet is strongly results-oriented and works hard to deliver.</p>
                        <p>Her confidence and prowess comes from 18 plus years of training and experience in both sales and customer service. Top scores, ratings, and reviews can all attest to her success, which she attributes to her own expertise and genuine care.</p>
                        <a href="/about" class="uk-link-text uk-text-bold"><svg width="50" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-right"><line fill="none" stroke="#000" x1="4" y1="9.5" x2="80" y2="9.5"></line></svg> Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


