{{ $optBlock := dict "display" "block" }}
<style>
    .intro__first {
        background: #fafafa no-repeat;
        background-blend-mode: overlay;
        background-size: cover;
    }

    .intro__first img {
        border-image: url("https://res.cloudinary.com/hungryram19/image/upload/v1632428145/yoori-park/yooripark/pattern-lines.png");
    }
</style>
<div class="uk-section intro__first" style="background-image:url(/assets/blanket.jpg)">
    <div class="uk-section">
        <div class="uk-container uk-container-large">
            <div class="uk-flex uk-flex-middle uk-grid uk-grid-xlarge">
                <div class="uk-width-1-2@s">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1668746935/yoori-park/yooripark/yooriprofile_1_whutjb.jpg" alt="" uk-parallax="y: -100; easing: 1">
                </div>
                <div class="uk-width-1-2@s">
                    <h2 class="uk-text-uppercase uk-h2">About Yoori Park</h2>
                    <div>
                        <!-- <p class="uk-h5 uk-text-uppercase uk-margin-large-bottom">Integrity, Transparency, and Due Diligence Guaranteed</p> -->
                        <p>Yoori Park is a distinguished Realtor based in Los Angeles, celebrated for her dedication to client satisfaction and expertise in real estate. With a Bachelor's degree in Communications from the University of Washington and two decades of experience in sales and customer service across various industries, Yoori brings a unique blend of skills and knowledge to Hilton & Hyland/Forbes Global Properties.</p>
                        <p>Known for her no-nonsense approach and exceptional negotiation skills, she has consistently been recognized for her achievements and top performance. Her deeply rooted passion for architecture and design drives her to connect clients with their dream homes while ensuring an enriching and smooth experience. Yoori is also actively involved in charitable work and stays connected with the community, lending her voice and time to causes close to her heart.</p>
                        <a href="/about" class="uk-link-text uk-text-bold"><svg width="50" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-right"><line fill="none" stroke="#000" x1="4" y1="9.5" x2="80" y2="9.5"></line></svg> Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


