{{ $optBlock := dict "display" "block" }}
<style>
    .intro__first {
        background: #fafafa no-repeat;
        background-blend-mode: overlay;
        background-size: cover;
    }

    .intro__first img {
        border-image: url("https://res.cloudinary.com/hungryram19/image/upload/v1632428145/yoori-park/yooripark/pattern-lines.png");
    }
</style>
<div class="uk-section intro__first" style="background-image:url(/assets/blanket.jpg)">
    <div class="uk-section">
        <div class="uk-container uk-container-large">
            <div class="uk-flex uk-flex-middle uk-grid uk-grid-xlarge">
                <div class="uk-width-1-2@s">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1634681851/erica-jackson/complexlivingrealestate/erica-jackson.jpg" alt="" uk-parallax="y: -100; easing: 1">
                </div>
                <div class="uk-width-1-2@s">
                    <h2 class="uk-text-uppercase uk-h2">COMPLEX LIVING REAL ESTATE</h2>
                    <div>
                        <p class="uk-h5 uk-text-uppercase uk-margin-large-bottom">Integrity, Transparency, and Due Diligence Guaranteed</p>
                        <p>The Complex Living Team is dedicated to helping our clients Create Wealth Through Property Acquisition by ensuring our clients make sound investments in real estate . We are committed to listening to our clients needs and utilizing our keen negotiating skills to ensure a successful transaction. Our team understands the numerous unmatchable benefits of living in the Bay Area, such as; great weather, culture and diversity and find great pride in assisting clients with one of the most complex transactions they may ever experience.</p>
                        <p>We believe every client, at every price point, deserves the same level of service. Whether you are looking to buy, sell, lease or invest our team is committed to making the home buying process easy.</p>
                        <a href="/about" class="uk-link-text uk-text-bold"><svg width="50" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-right"><line fill="none" stroke="#000" x1="4" y1="9.5" x2="80" y2="9.5"></line></svg> Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


