{{ define "main" }}
{{ $footerContact := .Site.Data.profile.contact_information }}
{{ $optBlock := dict "display" "block" }}

<div class="uk-section uk-section-large" uk-scrollspy="cls: uk-animation-fade; delay: 300;">
    <div class="uk-container">
        <div class="uk-width-1-1 uk-text-center uk-margin-large-bottom">
            <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
                <div class="uk-width-2xlarge main__content">
                    <h2 style="font-size:4rem;">{{ .Params.heading }}</h2>
                    <p>Send me an email using the form below for any inquiries.</p>
                </div>
            </div>
        </div>
        <div class="uk-flex uk-flex-center uk-text-center">
            <div class="uk-width-2xlarge">
                <div class="uk-card">
                    <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small" uk-grid action="/thank-you">
                        <input name="bot-field" type="hidden" />
                        <input type="hidden" name="Subject" value="Website Contact Form">
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" name="First Name" id="uk-input-fname" placeholder="First Name" required>
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" name="Last Name" id="uk-input-lname" placeholder="Last Name" required>
                        </div>
                        <div class="uk-width-1-1">
                            <input class="uk-input" type="email" id="input-email" name="Email" placeholder="Email" required>
                        </div>
                        <div class="uk-width-1-1">
                            <textarea class="uk-textarea" rows="5" id="textarea-info" placeholder="Your Message" name="Message"></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-button uk-button-primary uk-width-1-1">Submit</button>
                        </div>
                        <div class="uk-width-1-1">
                            <p>By submitting the form with your information above you are agreeing to our <a style="color:#000" href="/legal/terms-and-conditions">Terms and Conditions</a> and <a style="color:#000" href="/legal/privacy-policy">Privacy Policy</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $(".insurance-multiselect").select2({
          dropdownParent: $(".insurance-drop")
        });
      });
</script>

{{ end }}

